# Don't track content of these folders
game/cache/
game/saves/
saves/
cache/
__pycache__/


# Compiled sources
*.com
*.class
*.dll
*.exe
*.o
*.so

*.rpyc
*.rpymc


# The log file and other misc things #
######################################
log.txt
errors.txt
traceback.txt
files.txt

# IDEs
/.vscode
/.idea